<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style",required:false)

    <link href="~/Content/Background.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

               

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">


                <ul class="nav navbar-nav">
              
                    <li>@Html.ActionLink("Department", "Index", "Department")</li>
                    <li>@Html.ActionLink("Course", "Create", "Course")</li>
                    <li>@Html.ActionLink("Teacher", "Create", "Teacher")</li>
                    <li>@Html.ActionLink("AssignCourse", "Create", "CourseAssign")</li>
                    <li>@Html.ActionLink("CourseStatics", "Index", "ViewCourseStatics")</li>
                    <li>@Html.ActionLink("Student", "Create", "RegisterStudent")</li>
                    <li>@Html.ActionLink("AllocateRoom", "Create", "AllocateRoom")</li>
                    <li>@Html.ActionLink("ViewSchdule", "Index", "ViewSchedule")</li>
                    <li>@Html.ActionLink("EnrollCourse", "Create", "EnrollCourse")</li>
                    <li>@Html.ActionLink("SaveResult", "Create", "SaveResult")</li>
                    <li>@Html.ActionLink("Result", "Index", "ViewResult")</li>

                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <b>
                <p>&copy; RIFK37 - What You Seek Is Seeking You</p></b>

            <div><b>@Html.ActionLink("Home", "Index", "Home")</b></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
